deployment/global-s3-assets
deployment/regional-s3-assets
deployment/open-source

**/coverage/
**/coverage-reports/
.coverage

node_modules/

cfn_nag_suppressions.log

**.DS_STORE**

**/.venv*/**
.venv/**
*venv*
__pycache__/
*.egg-info
*.egg

codebuild_build.sh
.vscode/settings.json
.vscode/launch.json
*tmp*
.pytest_cache

.idea/**

aws_lambda_powertools/
aws_xray_sdk/
boto3/
botocore/
build/lib/
dateutil/
urllib3/
jmespath/
python_dateutil/
s3transfer/
coverage/
coverage-reports/
six.py
typing_extensions.py
wrapt
THIRD-PARTY-LICENSES

target/
*.jar
source/infrastructure/test/mock-lambda-func/java-lambda/checkstyle-result.xml
**/*dependency-reduced-pom.xml
.coverage.*

dist/
*.log
bak.*
*.ipynb*
_bandit_temp.json
