/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0 */
 
 .amplify-tabs {
    display: none;
  }

  .signout-button {
    position:absolute;
    top: 17px;
    right: 20px;
  }
  