[tool.poetry]
name = "custom_boto3_init"
version = "1.3.0"
authors = [ "Amazon Web Services" ]
description = "Initialize boto config for AWS Python SDK with custom configuration"
packages = [
    { include = "*.py" }
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: Apache-2.0",
]
license = "Apache-2.0"

[tool.poetry.dependencies]
aws-lambda-powertools = "2.32.0"
aws-xray-sdk = "2.12.1"
python = "^3.11"

[tool.poetry.group.test.dependencies]
coverage = "7.4.0"
pytest = "7.4.4"
pytest-cov = "4.1.0"
mock = "5.1.0"
boto3-layer =  { path = "../aws_boto3/", develop = true }

[tool.black]
line-length = 120

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
line_length = 120
profile = "black"

[build-system]
requires = [ "poetry-core>=1.0.8" ]
build-backend = "poetry.core.masonry.api"