/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0 */

 .chatbox {
    padding-left: 20%;
    padding-right: 20%;
}

.chat-input {
    position: fixed;
    bottom: 0;
    width: 100%;
}
