/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0 */

 .move-to-middle {
    width: 100%;
    position:fixed;
    bottom:0;
  }

.user-message {
    text-align: right;
}