// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: Apache-2.0

.tool-usage-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
}